<div class="row">
  <div class="col s2 offset-s2 m-5">
    {{!-- <div class="row left-align"><h5>Add Or Edit An Employee</h5></div> --}}
      <div class="row">
        <form>
            <div class="row input-field">
              <label for="employee_id">Employee ID # (Required)</label>
              <input list="employees" type="text" id="employee_id" name="employee_id">
              <datalist id="employees">
                {{#each allStaff as |staff| }}
                  <option value="{{staff.id}}">{{staff.first_name}} {{staff.last_name}}</option>
                {{/each}}
              </datalist>
            </div>

            <div class="row input-field">
              <label for="role">Employee's Role</label>
              <input list="roles" type="text" class="form-control" id="role_id" name="role_id">
              <datalist id="roles">
                <option value="3">Employee</option>
              </datalist>
            </div>

            <div class="row input-field">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name" name="first_name">
            </div>

            <div class="row input-field">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" id="last_name" name="last_name">
            </div>

            <div class="row input-field">
              <label for="email">Email Address</label>
              <input type="text" class="form-control" id="email" name="email">
            </div>

            <div class="row input-field">
              <label for="password">Temp Password (Required For Add)</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="row">
              <button class="btn btn waves-effect waves-light valign-wrapper red darken-2 z-depth-5" id="add">Add</button>

              <button class="btn btn waves-effect waves-light valign-wrapper red darken-2 z-depth-5" id="update">Edit</button>

              <button class="btn btn red waves-effect waves-light valign-wrapper red darken-2 z-depth-5" id="delete">Delete</button>
            </div>

        </form>
      </div>
  </div>
  <div class="col s6 offset-s1 m-5">
    {{!-- <div class="row left-align"><h5>Existing Staff List</h5></div> --}}
      <div class="row">
        <div class="col">
          <table class="table centered responsive-table striped white">
            <thead>
              <tr>
                <th scope="col">Employee ID #</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Employee's Role</th>
              </tr>
            </thead>
            <tbody>
              {{#each allStaff as |staff| }}
              <tr>
                <th>{{staff.id}}</th>
                <td>{{staff.first_name}}</td>
                <td>{{staff.last_name}}</td>
                <td>{{staff.email}}</td>
                <td>{{staff.role.name}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>
<script src="./js/cud.js" defer></script>