<div class="row">
  <div class="col-6"><h2>Employees</h2></div>
</div>

<table class="table delEmp">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each employees as |employee| }}
    <tr>
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.first_name}}</td>
      <td>{{employee.last_name}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.plan}}</td>
      <td>
            <button class="btn btn-light btn-small" data-id="{{employee.id}}">EDIT</button>
            <button class="btn btn-sm btn-danger delEmp" data-id="{{employee.id}}">DELETE</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="col-6 justify-content-end">
  <a href="/add" type="button" class="btn btn-primary align-self-center">+ADD</a> 
</div>
<script src="./js/add.js"></script>
<script src="./js/logout.js"></script>
<script src="./js/delete.js"></script>